<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body>
    <div>
      <header><%- include('../partials/header'); %></header>
    </div>
    <main>
        <div>
            <h1>This is great</h1>
            <p>Welcome to templating using ejs</p>
        </div>
    </main>
    <footer><%- include('../partials/footer'); %></footer>
  </body>
</html>
